nodered/app/flows/flow9-balena.json
[
    {
        "id": "79299737.efa738",
        "type": "tab",
        "label": "IMU",
        "disabled": false,
        "info": ""
    },
    {
        "id": "90eefcf2.2bcef",
        "type": "tab",
        "label": "Sense hat",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e7224da9.3881a",
        "type": "tab",
        "label": "Debug Pusher",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a343795a.9e2728",
        "type": "tab",
        "label": "Global context",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f428c560.9f7e68",
        "type": "tab",
        "label": "ENV",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fee98c91.8a287",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1071f503.257ceb",
        "type": "ui_tab",
        "z": "",
        "name": "Sense Hat",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fde4866f.851ff8",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "1071f503.257ceb",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9a4e895b.be7378",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "1071f503.257ceb",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9492d025.a8517",
        "type": "ui_group",
        "z": "",
        "name": "Pressure",
        "tab": "1071f503.257ceb",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f315fd49.2b923",
        "type": "ui_group",
        "z": "",
        "name": "Statistics",
        "tab": "1071f503.257ceb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "42a92da.f061dd4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f315fd49.2b923",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "c733ff8a.5fc41",
        "type": "debug",
        "z": "90eefcf2.2bcef",
        "name": "Environment data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 180,
        "wires": []
    },
    {
        "id": "b630d5f.d719b28",
        "type": "comment",
        "z": "90eefcf2.2bcef",
        "name": "Temperature, humidity, pressure",
        "info": "",
        "x": 250,
        "y": 420,
        "wires": []
    },
    {
        "id": "6654c806.a43af8",
        "type": "ui_chart",
        "z": "90eefcf2.2bcef",
        "name": "Temperature",
        "group": "fde4866f.851ff8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "ºC",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "60",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 890,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "89693d02.9519",
        "type": "ui_gauge",
        "z": "90eefcf2.2bcef",
        "name": "Temperature",
        "group": "fde4866f.851ff8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "x": 890,
        "y": 320,
        "wires": []
    },
    {
        "id": "10364dff.076832",
        "type": "change",
        "z": "90eefcf2.2bcef",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 340,
        "wires": [
            [
                "6654c806.a43af8",
                "89693d02.9519",
                "ebb2dea.29f222"
            ]
        ]
    },
    {
        "id": "ac446e6a.8a6",
        "type": "switch",
        "z": "90eefcf2.2bcef",
        "name": "event types",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "environment",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "joystick",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "c733ff8a.5fc41"
            ],
            [
                "e5904cb3.ded21"
            ]
        ]
    },
    {
        "id": "e5904cb3.ded21",
        "type": "debug",
        "z": "90eefcf2.2bcef",
        "name": "Joystick data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "512bee32.aea48",
        "type": "ui_chart",
        "z": "90eefcf2.2bcef",
        "name": "Humidity",
        "group": "9a4e895b.be7378",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "%",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "60",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 880,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c4976ee0.9494e",
        "type": "ui_gauge",
        "z": "90eefcf2.2bcef",
        "name": "Humidity",
        "group": "9a4e895b.be7378",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "x": 880,
        "y": 480,
        "wires": []
    },
    {
        "id": "b052564c.2ce688",
        "type": "change",
        "z": "90eefcf2.2bcef",
        "name": "Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 460,
        "wires": [
            [
                "512bee32.aea48",
                "c4976ee0.9494e",
                "7777c40.6bfde3c",
                "c751ad5c.303ff"
            ]
        ]
    },
    {
        "id": "efb9fb37.0a39a8",
        "type": "ui_chart",
        "z": "90eefcf2.2bcef",
        "name": "",
        "group": "9492d025.a8517",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "mbar",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1100",
        "removeOlder": "60",
        "removeOlderPoints": "100",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 870,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "715f4b2.f5d60b4",
        "type": "ui_gauge",
        "z": "90eefcf2.2bcef",
        "name": "Pressure",
        "group": "9492d025.a8517",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "mbar",
        "format": "{{value}}",
        "min": 0,
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "100",
        "x": 880,
        "y": 660,
        "wires": []
    },
    {
        "id": "bcf3bea9.02973",
        "type": "change",
        "z": "90eefcf2.2bcef",
        "name": "Pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.pressure",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "pressure",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 600,
        "wires": [
            [
                "efb9fb37.0a39a8",
                "715f4b2.f5d60b4",
                "fd507a50.3196f8",
                "d7bb3bfd.a8ee38"
            ]
        ]
    },
    {
        "id": "a0002238.2c6bc",
        "type": "pusher out",
        "z": "90eefcf2.2bcef",
        "name": "Pusher, envv",
        "channel": "data_env",
        "cluster": "eu",
        "eventname": "env",
        "x": 770,
        "y": 900,
        "wires": []
    },
    {
        "id": "cafed5ac.4f8fe8",
        "type": "debug",
        "z": "90eefcf2.2bcef",
        "name": "type env",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "d2301f71.cb8b2",
        "type": "debug",
        "z": "90eefcf2.2bcef",
        "name": "temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1010,
        "y": 380,
        "wires": []
    },
    {
        "id": "7777c40.6bfde3c",
        "type": "debug",
        "z": "90eefcf2.2bcef",
        "name": "humidity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 840,
        "y": 520,
        "wires": []
    },
    {
        "id": "fd507a50.3196f8",
        "type": "debug",
        "z": "90eefcf2.2bcef",
        "name": "pressure",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 840,
        "y": 700,
        "wires": []
    },
    {
        "id": "ebb2dea.29f222",
        "type": "function",
        "z": "90eefcf2.2bcef",
        "name": "save temperature",
        "func": "global.set('temperature' , msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 790,
        "y": 380,
        "wires": [
            [
                "d2301f71.cb8b2"
            ]
        ]
    },
    {
        "id": "64117d30.909544",
        "type": "debug",
        "z": "90eefcf2.2bcef",
        "name": "humidity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1000,
        "y": 560,
        "wires": []
    },
    {
        "id": "c751ad5c.303ff",
        "type": "function",
        "z": "90eefcf2.2bcef",
        "name": "save humidity",
        "func": "global.set('humidity' , msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 560,
        "wires": [
            [
                "64117d30.909544"
            ]
        ]
    },
    {
        "id": "ee2ad69a.e68418",
        "type": "debug",
        "z": "90eefcf2.2bcef",
        "name": "pressure",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1000,
        "y": 740,
        "wires": []
    },
    {
        "id": "d7bb3bfd.a8ee38",
        "type": "function",
        "z": "90eefcf2.2bcef",
        "name": "save pressure",
        "func": "global.set('pressure' , msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 740,
        "wires": [
            [
                "ee2ad69a.e68418"
            ]
        ]
    },
    {
        "id": "e1c6b3b0.ccbda",
        "type": "function",
        "z": "a343795a.9e2728",
        "name": "get temperature",
        "func": "msg.payload = global.get('temperature')\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "be4e8.19540b19"
            ]
        ]
    },
    {
        "id": "9241c148.e6624",
        "type": "inject",
        "z": "a343795a.9e2728",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "e1c6b3b0.ccbda"
            ]
        ]
    },
    {
        "id": "be4e8.19540b19",
        "type": "debug",
        "z": "a343795a.9e2728",
        "name": "temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "2e338f79.c5945",
        "type": "debug",
        "z": "a343795a.9e2728",
        "name": "humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "93b2a37b.820d4",
        "type": "debug",
        "z": "a343795a.9e2728",
        "name": "pressure",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "f682366.c33adc8",
        "type": "function",
        "z": "a343795a.9e2728",
        "name": "get humidity",
        "func": "msg.payload = global.get('humidity')\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "2e338f79.c5945"
            ]
        ]
    },
    {
        "id": "a5691873.c242e8",
        "type": "inject",
        "z": "a343795a.9e2728",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 280,
        "wires": [
            [
                "f682366.c33adc8"
            ]
        ]
    },
    {
        "id": "192f8567.44a72b",
        "type": "function",
        "z": "a343795a.9e2728",
        "name": "get pressure",
        "func": "msg.payload = global.get('pressure')\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 360,
        "wires": [
            [
                "93b2a37b.820d4"
            ]
        ]
    },
    {
        "id": "dd2742c2.e5dca",
        "type": "inject",
        "z": "a343795a.9e2728",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 340,
        "y": 360,
        "wires": [
            [
                "192f8567.44a72b"
            ]
        ]
    },
    {
        "id": "86b4c285.f2196",
        "type": "throttle",
        "z": "90eefcf2.2bcef",
        "name": "4s",
        "throttleType": "time",
        "timeLimit": "4",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 350,
        "y": 880,
        "wires": [
            [
                "2c3678f0.1f7408",
                "cafed5ac.4f8fe8",
                "a0002238.2c6bc"
            ]
        ]
    },
    {
        "id": "2c3678f0.1f7408",
        "type": "interval-length",
        "z": "90eefcf2.2bcef",
        "format": "mills",
        "bytopic": false,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": false,
        "startup": false,
        "msgField": "payload",
        "timestampField": "timestamp",
        "repeatTimeout": false,
        "name": "",
        "x": 400,
        "y": 800,
        "wires": [
            [
                "9444da7d.f825d8"
            ],
            []
        ]
    },
    {
        "id": "9444da7d.f825d8",
        "type": "debug",
        "z": "90eefcf2.2bcef",
        "name": "Intervals",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 580,
        "y": 800,
        "wires": []
    },
    {
        "id": "836fa676.b74248",
        "type": "pusher in",
        "z": "e7224da9.3881a",
        "name": "Pusher, env",
        "channel": "data_env",
        "cluster": "eu",
        "eventname": "env",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "602561b7.efe71"
            ]
        ]
    },
    {
        "id": "a7550161.5598b",
        "type": "debug",
        "z": "e7224da9.3881a",
        "name": "Last 10 samples",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 940,
        "y": 120,
        "wires": []
    },
    {
        "id": "f97cb3ba.92908",
        "type": "buffer-array",
        "z": "e7224da9.3881a",
        "name": "",
        "bufferLen": "10",
        "startWhenFilled": false,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "a7550161.5598b",
                "91074a6.8fc9cb8",
                "e5b97e9c.2df6b"
            ]
        ]
    },
    {
        "id": "a2a087f9.6f9388",
        "type": "interval-length",
        "z": "e7224da9.3881a",
        "format": "mills",
        "bytopic": false,
        "minimum": "",
        "maximum": "",
        "window": "",
        "timeout": false,
        "msgTimeout": "",
        "minimumunit": "msecs",
        "maximumunit": "msecs",
        "windowunit": "msecs",
        "msgTimeoutUnit": "msecs",
        "reset": false,
        "startup": false,
        "msgField": "payload",
        "timestampField": "timestamp",
        "repeatTimeout": false,
        "name": "",
        "x": 700,
        "y": 80,
        "wires": [
            [
                "393033ab.f96fbc"
            ],
            []
        ]
    },
    {
        "id": "91074a6.8fc9cb8",
        "type": "debug",
        "z": "e7224da9.3881a",
        "name": "msg.payload[9] -> MOST RECENT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload[9]",
        "targetType": "msg",
        "x": 1000,
        "y": 180,
        "wires": []
    },
    {
        "id": "e5b97e9c.2df6b",
        "type": "debug",
        "z": "e7224da9.3881a",
        "name": "msg.payload[0] -> OLDEST",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload[0]",
        "targetType": "msg",
        "x": 980,
        "y": 240,
        "wires": []
    },
    {
        "id": "393033ab.f96fbc",
        "type": "debug",
        "z": "e7224da9.3881a",
        "name": "Last INTERVAL",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 940,
        "y": 60,
        "wires": []
    },
    {
        "id": "15a42d93.4479a2",
        "type": "rpi-sensehat in",
        "z": "90eefcf2.2bcef",
        "name": "",
        "motion": true,
        "env": true,
        "stick": false,
        "x": 310,
        "y": 460,
        "wires": [
            [
                "ac446e6a.8a6",
                "10364dff.076832",
                "b052564c.2ce688",
                "bcf3bea9.02973",
                "ed0a20d6.4df54"
            ]
        ]
    },
    {
        "id": "86629156.66cfb",
        "type": "change",
        "z": "e7224da9.3881a",
        "name": "Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperature",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "f97cb3ba.92908",
                "a2a087f9.6f9388"
            ]
        ]
    },
    {
        "id": "48b4b1b7.9bd4b",
        "type": "inject",
        "z": "f428c560.9f7e68",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 510,
        "y": 200,
        "wires": [
            [
                "7d56a855.cf4768",
                "91bd61a0.df5fc"
            ]
        ]
    },
    {
        "id": "91bd61a0.df5fc",
        "type": "function",
        "z": "f428c560.9f7e68",
        "name": "NodeRED credentials",
        "func": "msg.payload = env.get(\"\")\n\nmsg.payload = {\n    username: env.get(\"USERNAME\"),\n    password: env.get(\"PASSWORD\"),\n    secret:   env.get(\"SECRETKEY\")\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 740,
        "y": 240,
        "wires": [
            [
                "eff813b.aea48f"
            ]
        ]
    },
    {
        "id": "eff813b.aea48f",
        "type": "debug",
        "z": "f428c560.9f7e68",
        "name": "NodeRED",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "590f4d8d.42b614",
        "type": "debug",
        "z": "f428c560.9f7e68",
        "name": "Pusher",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 940,
        "y": 180,
        "wires": []
    },
    {
        "id": "7d56a855.cf4768",
        "type": "function",
        "z": "f428c560.9f7e68",
        "name": "Pusher credentials",
        "func": "msg.payload = {\n    app_id:  env.get(\"APP_ID\") || 0,\n    key:     env.get(\"APP_KEY\"),\n    secret:  env.get(\"APP_SECRET\"),\n    cluster: env.get(\"APP_CLUSTER\")\n}\n    \nreturn msg;\n\n//$(APP_KEY)\n//$(APP_SECRET)\n//process.env.APP_KEY",
        "outputs": 1,
        "noerr": 0,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "590f4d8d.42b614"
            ]
        ]
    },
    {
        "id": "27355eb6.73ed52",
        "type": "rpi-sensehat out",
        "z": "90eefcf2.2bcef",
        "name": "",
        "x": 730,
        "y": 80,
        "wires": []
    },
    {
        "id": "5f05d63a.f898b8",
        "type": "comment",
        "z": "90eefcf2.2bcef",
        "name": "Heart bit in LED matrix",
        "info": "",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "b2e34284.22bb8",
        "type": "inject",
        "z": "90eefcf2.2bcef",
        "name": "yellow heart",
        "topic": "",
        "payload": "0,0,black,1,0,black,2,0,black,3,0,black,4,0,black,5,0,black,6,0,black,7,0,black,0,1,black,1,1,yellow,2,1,yellow,3,1,black,4,1,yellow,5,1,yellow,6,1,black,7,1,black,0,2,yellow,1,2,yellow,2,2,yellow,3,2,yellow,4,2,yellow,5,2,yellow,6,2,yellow,7,2,black,0,3,yellow,1,3,yellow,2,3,yellow,3,3,yellow,4,3,yellow,5,3,yellow,6,3,yellow,7,3,black,0,4,yellow,1,4,yellow,2,4,yellow,3,4,yellow,4,4,yellow,5,4,yellow,6,4,yellow,7,4,black,0,5,black,1,5,yellow,2,5,yellow,3,5,yellow,4,5,yellow,5,5,yellow,6,5,black,7,5,black,0,6,black,1,6,black,2,6,yellow,3,6,yellow,4,6,yellow,5,6,black,6,6,black,7,6,black,0,7,black,1,7,black,2,7,black,3,7,yellow,4,7,black,5,7,black,6,7,black,7,7,black",
        "payloadType": "str",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "27355eb6.73ed52"
            ]
        ]
    },
    {
        "id": "a8bb3bba.71a338",
        "type": "inject",
        "z": "90eefcf2.2bcef",
        "name": "",
        "topic": "",
        "payload": "*,*,black",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "27355eb6.73ed52"
            ]
        ]
    },
    {
        "id": "97c2ce34.ab0ad8",
        "type": "inject",
        "z": "90eefcf2.2bcef",
        "name": "red heart",
        "topic": "",
        "payload": "0,0,black,1,0,black,2,0,black,3,0,black,4,0,black,5,0,black,6,0,black,7,0,black,0,1,black,1,1,red,2,1,red,3,1,black,4,1,red,5,1,red,6,1,black,7,1,black,0,2,red,1,2,red,2,2,red,3,2,red,4,2,red,5,2,red,6,2,red,7,2,black,0,3,red,1,3,red,2,3,red,3,3,red,4,3,red,5,3,red,6,3,red,7,3,black,0,4,red,1,4,red,2,4,red,3,4,red,4,4,red,5,4,red,6,4,red,7,4,black,0,5,black,1,5,red,2,5,red,3,5,red,4,5,red,5,5,red,6,5,black,7,5,black,0,6,black,1,6,black,2,6,red,3,6,red,4,6,red,5,6,black,6,6,black,7,6,black,0,7,black,1,7,black,2,7,black,3,7,red,4,7,black,5,7,black,6,7,black,7,7,black",
        "payloadType": "str",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "27355eb6.73ed52"
            ]
        ]
    },
    {
        "id": "3f688d81.4b10a2",
        "type": "inject",
        "z": "90eefcf2.2bcef",
        "name": "blue heart",
        "topic": "",
        "payload": "0,0,black,1,0,black,2,0,black,3,0,black,4,0,black,5,0,black,6,0,black,7,0,black,0,1,black,1,1,blue,2,1,blue,3,1,black,4,1,blue,5,1,blue,6,1,black,7,1,black,0,2,blue,1,2,blue,2,2,blue,3,2,blue,4,2,blue,5,2,blue,6,2,blue,7,2,black,0,3,blue,1,3,blue,2,3,blue,3,3,blue,4,3,blue,5,3,blue,6,3,blue,7,3,black,0,4,blue,1,4,blue,2,4,blue,3,4,blue,4,4,blue,5,4,blue,6,4,blue,7,4,black,0,5,black,1,5,blue,2,5,blue,3,5,blue,4,5,blue,5,5,blue,6,5,black,7,5,black,0,6,black,1,6,black,2,6,blue,3,6,blue,4,6,blue,5,6,black,6,6,black,7,6,black,0,7,black,1,7,black,2,7,black,3,7,blue,4,7,black,5,7,black,6,7,black,7,7,black",
        "payloadType": "str",
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 190,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9e80b5e6.3012b8",
        "type": "rpi-sensehat in",
        "z": "79299737.efa738",
        "name": "",
        "motion": true,
        "env": false,
        "stick": false,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "b2e57cca.df265",
                "eab2e069.15eff"
            ]
        ]
    },
    {
        "id": "c10dcad7.a6d3b8",
        "type": "debug",
        "z": "79299737.efa738",
        "name": "IMU",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "bdb8e8a2.8bff18",
        "type": "throttle",
        "z": "79299737.efa738",
        "name": "",
        "throttleType": "time",
        "timeLimit": "2",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "c10dcad7.a6d3b8"
            ]
        ]
    },
    {
        "id": "b2e57cca.df265",
        "type": "switch",
        "z": "79299737.efa738",
        "name": "Sensors",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "environment",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "motion",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "6600b4c6.b96a8c"
            ],
            [
                "bdb8e8a2.8bff18"
            ]
        ]
    },
    {
        "id": "2db6b2c2.e2222e",
        "type": "debug",
        "z": "79299737.efa738",
        "name": "Environment",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 710,
        "y": 240,
        "wires": []
    },
    {
        "id": "6600b4c6.b96a8c",
        "type": "throttle",
        "z": "79299737.efa738",
        "name": "",
        "throttleType": "time",
        "timeLimit": "2",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "2db6b2c2.e2222e"
            ]
        ]
    },
    {
        "id": "14c029a7.521756",
        "type": "debug",
        "z": "79299737.efa738",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "eab2e069.15eff",
        "type": "throttle",
        "z": "79299737.efa738",
        "name": "",
        "throttleType": "time",
        "timeLimit": "1",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 390,
        "y": 100,
        "wires": [
            [
                "14c029a7.521756"
            ]
        ]
    },
    {
        "id": "5a8faa9b.1fe044",
        "type": "switch",
        "z": "90eefcf2.2bcef",
        "name": "Sensors",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "environment",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "motion",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 140,
        "y": 900,
        "wires": [
            [
                "86b4c285.f2196"
            ],
            [
                "bba1150.a1e1de8"
            ]
        ]
    },
    {
        "id": "bba1150.a1e1de8",
        "type": "throttle",
        "z": "90eefcf2.2bcef",
        "name": "4s",
        "throttleType": "time",
        "timeLimit": "4",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 350,
        "y": 920,
        "wires": [
            [
                "2849d95.f26ae26",
                "a0002238.2c6bc"
            ]
        ]
    },
    {
        "id": "2849d95.f26ae26",
        "type": "debug",
        "z": "90eefcf2.2bcef",
        "name": "type motion",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 940,
        "wires": []
    },
    {
        "id": "d6066e8a.3179c",
        "type": "comment",
        "z": "90eefcf2.2bcef",
        "name": "output 1: environment",
        "info": "",
        "x": 180,
        "y": 860,
        "wires": []
    },
    {
        "id": "19be3c28.1eb874",
        "type": "comment",
        "z": "90eefcf2.2bcef",
        "name": "output 2: motion",
        "info": "",
        "x": 160,
        "y": 940,
        "wires": []
    },
    {
        "id": "602561b7.efe71",
        "type": "switch",
        "z": "e7224da9.3881a",
        "name": "extract",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "environment",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "motion",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 240,
        "wires": [
            [
                "cd94c3b1.8ddbb",
                "86629156.66cfb"
            ],
            [
                "cd6c582a.e09598"
            ],
            [
                "4988f8fa.5d82b8"
            ]
        ]
    },
    {
        "id": "ed0a20d6.4df54",
        "type": "function",
        "z": "90eefcf2.2bcef",
        "name": "Add type",
        "func": "msg.payload.type = msg.topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 720,
        "wires": [
            [
                "5a8faa9b.1fe044"
            ]
        ]
    },
    {
        "id": "cd94c3b1.8ddbb",
        "type": "debug",
        "z": "e7224da9.3881a",
        "name": "environment",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "cd6c582a.e09598",
        "type": "debug",
        "z": "e7224da9.3881a",
        "name": "motion",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "4988f8fa.5d82b8",
        "type": "debug",
        "z": "e7224da9.3881a",
        "name": "otherwise",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 160,
        "y": 480,
        "wires": []
    },
    {
        "id": "ba7b1d42.537a6",
        "type": "comment",
        "z": "e7224da9.3881a",
        "name": "output 1: environment",
        "info": "",
        "x": 160,
        "y": 220,
        "wires": []
    },
    {
        "id": "e99a667f.dbfa68",
        "type": "comment",
        "z": "e7224da9.3881a",
        "name": "output 2: motion",
        "info": "",
        "x": 140,
        "y": 260,
        "wires": []
    },
    {
        "id": "342dcda2.2d3532",
        "type": "comment",
        "z": "e7224da9.3881a",
        "name": "output 3: discarded",
        "info": "It can be produced by other IoT devices publishing in the same Pusher app & topic",
        "x": 150,
        "y": 300,
        "wires": []
    }
]